<div class="about-container">
  <h1 hide-sm>About Me</h1>
  <p>I'm Devin, an experienced UX engineer from Charlotte, NC, currently living in Seoul, Korea. I work at <a href="https://www.sungard.com/">SunGard</a> where I turn aging UIs into elegant interfaces that people want to use.</p>
  <p>My strong suits include fluency in vanilla and modern JavaScript and a number of JavaScript libraries (mainly Angular), CSS and the three largest pre-processors (LESS, Sass, and Stylus), and HTML and many of its template flavors such as Jade, Haml, Mustache/Handlebars-styles, and others.</p>
  <p>Some of my technical interests include complex and OOP JavaScript, user-friendly design and branding, various web server and API implementations and their benefits, web security and cryptography, and mobile development.</p>
  <p>I value clean, consistent, and optimized code with simple and efficient data structures, architecture, and organization.</p>
</div>
